<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        p {
            font-size: 4rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            color: rgb(177 3 12);
            font-weight: bolder;
            text-align: center;
        }

        a{
            font-size: 2.5rem;
            color: rgb(177 3 12);
            margin-left: 100px;
            text-decoration: deepskyblue;

        }
    </style>
</head>
<body>
<p >
    请先完善资料
</p>

<a th:href="@{/makedata}">去完善...</a>
</body>
</html>